/* Style the navigation menu */
body {
    font-family: Lato, Courier, monospace;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0
}

.nav {
    width: 100vw;
    height: 30vw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
}

a.icon img {
    margin-left: 2vw;
    display: block;
    width: 24vw;
    height: auto;
    padding-top: 0vw;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.nav #myLinks {
    display: none;
    max-width: 80vw;
    max-height: 50vw;
}

.logo-div img {
    width: 6vw;
    height: auto;
}

.logo-div {
    margin-top: 8vw;
    width: 40vw;
    height: auto;
}

.link-nav {
    margin-top: 5vw;
    max-width: 60vw;
    height: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 5vw;
    color: #208FB1;
    padding-right: 5vw;
}

.links-nav:hover {
    color: #126D9B;
    font-weight: bold;
}

.name-designer {
    margin-top: 20vw;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

#images-two {
    display: flex;
    flex-direction: column;
}

.logo-name {
    margin-left: 2vw;
    width: 80vw;
    height: auto;
    display: flex;
}

.logo-designer {
    width: 83vw;
    height: auto;
    margin-top: 10vw;
}

.container {
    margin-top: 30vw;
    margin-bottom: 30vw;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.container-two {
    margin-top: 20vw;
    width: 60vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-two-tx {
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#button-rounded {
    width: 5vw;
    height: auto;
    animation: roll 2s infinite;
}

@keyframes roll {
    0% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.case-studies {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.final-project {
    width: 60vw;
    height: auto;
    margin-bottom: 20vw;
}

.final-project:hover {
    width: 62vw;
    height: auto;
}

.about-text {
    width: 80vw;
    height: auto;
    justify-content: center;
    flex-direction: column;
    font-size: 4vw;
    margin-top: 4vh;
    margin-left: 10vw;
    margin-bottom: 10vh;
}

#home {
    width: 100vw;
    height: 100vh;
}

#about {
    width: 100vw;
    height: 100vh;
}

h5 {
    line-height: 0vh;
    font-size: 4.4vw;
    font-weight: 500;
    color: #126D9B;
}

h1 {
    line-height: 0vh;
    font-size: 9vw;
    margin-top: 3vw;
}

p {
    margin-top: 10vw;
    line-height: 4vh;
    font-size: 3.8vw;
    font-weight: 349;
}

.designer {
    width: 60vw;
    height: auto;
    transform: translate(20vw, -8vh);
}

.designer-picture {
    display: flex;
    align-items: center;
}

#contact-social-media {
    background-color: #126D9B;
    color: #F5F5F5;
    width: 100vw;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.touch {
    height: 25vh;
}

.social-media {
    height: 30vh;
}

.title-contact {
    color: #F5F5F5;
}

#get-touch {
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 6vh;
}

#let-works {
    text-align: center;
}

#feel-free {
    text-align: center;
    font-weight: 350;
}

.links-social-media {
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.medium {
    width: 12vw;
    height: auto;
}

.medium:hover {
    width: 12.5vw;
    height: auto;
}

.medium-two:hover {
    width: 12.5vw;
    height: auto;
}

.medium-three:hover {
    width: 12.5vw;
    height: auto;
}

.medium-two {
    width: 10.68vw;
    height: auto;
}

.medium-three {
    width: 12.5vw;
    height: auto;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .name-designer {
        margin-top: 0vw;
    }
    .container {
        margin-top: 15vw;
    }
    .designer {
        width: 40vw;
        margin-bottom: 10vw;
        transform: translate(28vw, -8vh);
    }
    }